<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nstar.usna.edu.nstar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserArea" />
        <activity android:name=".PSAT2" />
        <activity android:name=".ChangeLimits1" />
        <activity android:name=".PacketSelector" />
        <activity android:name="nstar.usna.edu.nstar_v11.Options" />
        <activity android:name=".ViewLimits" />
        <activity android:name="nstar.usna.edu.nstar_v11.view_change" />
        <activity android:name=".ViewChange" />
        <activity android:name=".ChangeLimits2"></activity>

        <service android:name=".UserArea$ServiceReceivingAlarm"
            android:exported="false"/>

        <receiver android:name=".UserArea$AlarmReceiver"/>

    </application>



    <uses-permission android:name="android.permission.SEND_SMS">

    </uses-permission>

</manifest>